Packages/Package Control.last-run
Packages/Package Control.ca-list
Packages/Package Control.ca-bundle
Packages/Package Control.system-ca-bundle
Packages/Package Control.cache/
Packages/Package Control.ca-certs/
Packages/encoding_cache.json
Local/*